<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>835547138638-fmaicjta7q3p7ggvvp1at8vqjpotlklq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.835547138638-fmaicjta7q3p7ggvvp1at8vqjpotlklq</string>
	<key>API_KEY</key>
	<string>AIzaSyBEweWc17DePC_79sL7nGd73PnBtjISioo</string>
	<key>GCM_SENDER_ID</key>
	<string>835547138638</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmail.yuukirinnma.saisokukunn</string>
	<key>PROJECT_ID</key>
	<string>saisokukunn-98fe2</string>
	<key>STORAGE_BUCKET</key>
	<string>saisokukunn-98fe2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:835547138638:ios:f69ad7e47ac3425621d11f</string>
</dict>
</plist>